<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</head>
<body>
<!--Верхний навбар -->
<nav class="navbar navbar-dark bg-dark">
    <ul class="list-inline-group text-left m-md-0 p-0">
        <tr>
            <li class="list-inline-item font-weight-bold" style="color: white">
                <h3><b id="userMail">
                    <td></td>
                </b></h3>
            </li>
            <li class="list-inline-item" style="color: white"><h3>with roles: </h3></li>
            <li class="list-inline-item" style="color: white">
                <h3><b id="userRole">
                    <td>
                </b></h3>
                </td></li>
    </ul>
    <button class="btn btn-dark" type="submit"><a href="/logout" class="btn btn-dark">Logout</a></button>
</nav>
<!-- Левый навбар -->
<div class="container-fluid p-3">
    <div class="row">
        <ul class="nav nav-pills flex-column col-md-2" role="tablist">
            <li><a class="nav-link" href="#admin" id="adminButton" role="tab" data-toggle="pill">Admin</a></li>
            <li><a href="#user" class="nav-link" data-toggle="pill">User</a></li>
        </ul>
        <!-- юзер панель -->
        <div class="tab-content col-md-10">
            <div role="tabpanel" class="tab-pane" id="user">
                <h1>User information-page</h1>
                <br>
                <h3>About User</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody id="thisUser">
                    <tr>

                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- админ панель -->
            <div role="tabpanel" class="tab-pane" id="admin"><h1>Admin Panel</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" role="tab" data-toggle="pill" href="#usersList" id="userTab">Users Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " role="tab" data-toggle="pill" href="#newUser">Add User</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="usersList"><h3>All Users</h3>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="usersTable">
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--Форма добавления юзера-->
                    <div role="tabpanel" class="tab-pane" id="newUser">
                        <table class="table">
                            <thead>
                            <tr>
                                <th><h4>Add New User</h4></th>
                            </tr>
                            <td>
                                <div class="text-center mx-auto" style="width: 400px;">
                                    <form id="addNUser">
                                        <div class="form-group">
                                            <label for="name"><h5>First Name</h5></label>
                                            <input type="text" class="form-control" id="name" name="firstName">
                                            <label for="lastName"><h5>Last Name</h5></label>
                                            <input type="text" class="form-control" id="lastName" name="lastName">
                                            <label for="age"><h5>Age</h5></label>
                                            <input type="number" class="form-control" id="age" name="age">
                                            <label for="email"><h5>Email</h5></label>
                                            <input type="email" class="form-control" id="email" name="userName">
                                            <label for="password"><h5>Password</h5></label>
                                            <input type="password" class="form-control" id="password" name="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="new_roles"><h5>Role</h5></label>
                                            <select multiple class="form-control" id="new_roles" name="new_roles">
                                                <option>admin</option>
                                                <option>user</option>
                                            </select>
                                        </div>
                                    </form>
                                    <button id="addUserForm" type="button" class="btn btn-primary">Add new User</button>
                                </div>
                            </td>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModal3Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditLabel">Edit User</h5>
                <button type="button" class="closeCus" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formForEdit">
                    <div class="form-group">
                        <label for="d_id">Id</label>
                        <input type="text" class="form-control" id="d_id" name="id">
                        <label for="d_name">First Name</label>
                        <input type="text" class="form-control" id="d_name" name="firstName">
                        <label for="d_last_name">Last Name</label>
                        <input type="text" class="form-control" id="d_last_name" name="lastName">
                        <label for="d_age">Age</label>
                        <input type="number" class="form-control" id="d_age" name="age">
                        <label for="d_email">Email</label>
                        <input type="email" class="form-control" id="d_email" name="userName">
                        <label for="d_password" class="d_password">Password</label>
                        <input type="password" class="form-control" id="d_password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="d_roles">Role</label>
                        <select multiple class="form-control" id="d_roles" name="n_roles">
                        </select>
                        <select multiple class="form-control" id="e_roles" name="e_roles">
                            <option>admin</option>
                            <option>user</option>
                        </select>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary closeCus"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button class="btn btn-primary closeCus delete_u" onclick='deleteU(this)'>Delete</button>
                    <button class="btn btn-primary closeCus edit_u" onclick='editU(this)'>Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    let allUsers = null;
    <!--Добавление Юзера-->
    $("#addUserForm").click(
        function () {
            let add_u = $("#addNUser").serialize();
            $.ajax({
                url: "api/addUser",
                type: "post",
                data: add_u,
                success: function () {
                    $("#usersTable").empty();
                    show();
                    setTimeout(function () {
                        $("#userTab").click();
                    }, 500);
                    document.getElementById('addNUser').reset();
                }
            });
        }
    );

    <!--данные о юзере в шапке-->
    $(document).ready(function () {
        let s = "";
        let user = null;
        $.ajax({
            url: 'api/head',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                user = data;
                for (let i in user.roles) {
                    s += user.roles[i].name.toString() + " ";
                }
                userInfo(data);
                $("#userMail").text(user.userName);
                $("#userRole").text(s);
                $('#adminButton').click();
                $('#userTab').click();
                show();
            },
            error: function(){
                alert('Ошибка в хедере');
            }
        });
    });

    <!--таблица юзеров-->
    function show() {
        $.ajax({
            url: 'api/users',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                allUsers = data;
                for (let i = 0; i < data.length; i++) {
                    let roles = "";
                    for (let j in data[i].roles) {
                        roles += data[i].roles[j].name + " ";
                    }
                    $("#usersTable").append(
                        "<tr>" +
                        "<th scope='row'>" + data[i].id + "</th>" +
                        "<td>" + data[i].firstName + "</td>" +
                        "<td>" + data[i].lastName + "</td>" +
                        "<td>" + data[i].age + "</td>" +
                        "<td>" + data[i].userName + "</td>" +
                        "<td style='text-transform: uppercase'>" + roles + "</td>" +
                        "<td>" +
                        "<button id=" + data[i].id + "  name='Edit' class='btn btn-info' onclick='editUser(this)'>Edit</button>" +
                        "</td>" +
                        "<td>" +
                        "<button id=" + data[i].id + "  name='Delete'  class='btn btn-danger' onclick='deleteUser(this)'>Delete</button>" +
                        "</td>" +
                        "</tr>");
                }
            }
        });
    }

    <!--данные о юзере-->
    function userInfo(data) {
        let roles = "";
        for (let i in data.roles) {
            roles += data.roles[i].name + " ";
        }
        $("#thisUser").append(
            "<tr>" +
            "<th scope='row'>" + data.id + "</th>" +
            "<td>" + data.firstName + "</td>" +
            "<td>" + data.lastName + "</td>" +
            "<td>" + data.age + "</td>" +
            "<td>" + data.userName + "</td>" +
            "<td style='text-transform: uppercase'>" + roles + "</td>" +
            "</tr>");
    }

    function editUser(data) {
        $('#d_id').prop('disabled', true);
        $("#d_password, .d_password").css("display", "block");
        $("#d_roles, .delete_u").css("display", "none");
        $("#e_roles, .edit_u").css("display", "block");
        $(".edit_u").attr("id", data.id);
        $("#exampleModalLabel").text("Edit user");
        fillFormForEditAndDelete(data);
    };

    function editU(id) {
        var id = id.id;
        var edit = $("#formForEdit").serialize();
        $.ajax({
            url: "api/editUser/" + id,
            type: "post",
            data: edit,
            success: function (data) {
                $("#usersTable").empty();
                show();
            }
        });
        return false;
    };

    // заполнение модалки
    function fillFormForEditAndDelete(data) {
        let id = data.id;
        $(".deleteButton").attr("id", id);
        $("#exampleModal, .modal_bg").addClass("show").css('display', 'block');

        for (let i = 0; i < allUsers.length; i++) {
            if (allUsers[i].id == id) {
                $("#d_id").val(allUsers[i].id);
                $("#d_name").val(allUsers[i].firstName);
                $("#d_last_name").val(allUsers[i].lastName);
                $("#d_age").val(allUsers[i].age);
                $("#d_email").val(allUsers[i].userName);
                $("#d_password").val(allUsers[i].password);
                if (allUsers[i].roles.length == 2) {
                    $('#d_roles').append('<option value="">' + allUsers[i].roles[0].name + '</option>');
                    $('#d_roles').append('<option value="">' + allUsers[i].roles[1].name + '</option>');
                } else {
                    $('#d_roles').append('<option value="">' + allUsers[i].roles[0].name + '</option>');
                }
                break;
            }
        }
    }

    $(".closeCus, .modal_bg, .deleteButton").click(function () {
        $("#exampleModal, .modal_bg").removeClass("show").css('display', 'none');
        $('#d_roles').empty();
        $('.form-control').prop('disabled', false);
    });

    //удаление
    function deleteU(data) {
        let id = data.id;
        $.ajax({
            url: "api/deleteUser/" + id,
            type: "delete",
            success: function (data) {
                $("#usersTable").empty();
                show();
            }
        });
        return false;
    };

    function deleteUser(data) {
        $('.form-control').prop('disabled', true);
        $("#d_roles, .delete_u").css("display", "block");
        $("#e_roles, .edit_u ").css("display", "none");
        $(".delete_u").attr("id", data.id);
        $("#exampleModalLabel").text("Delete user");
        $("#d_password, .d_password").css("display", "none");
        fillFormForEditAndDelete(data);
    };
</script>
</body>
</html>