<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>
<body>
<!--Верхний навбар -->
<nav class="navbar navbar-dark bg-dark">
    <ul class="list-inline-group text-left m-md-0 p-0">
        <tr >
            <li class="list-inline-item font-weight-bold" style="color: white">
                <h3><b id="userMail">
                    <td></td>
                </b></h3>
            </li>
            <li class="list-inline-item" style="color: white"><h3>with roles: </h3></li>
            <li class="list-inline-item" style="color: white">
                <h3><b id="userRole">
                    <td >
                </b></h3>
                </td></li>
    </ul>
    <button class="btn btn-dark" type="submit"><a href="/logout" class="btn btn-dark">Logout</a></button>
</nav>
<!-- Левый навбар -->
<div class="container-fluid p-3">
    <div class="row">
        <ul class="nav nav-pills flex-column col-md-2" role="tablist">

            <li><a href="#user" id="userButton" class="nav-link" data-toggle="pill">User</a></li>
        </ul>
        <!-- юзер панель -->
        <div class="tab-content col-md-10">
            <div role="tabpanel" class="tab-pane" id="user">
                <h1>User information-page</h1>
                <br>
                <h3>About User</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody id="thisUser">

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        let s = "";
        let user = null;
        $.ajax({
            url: 'api/head',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                user = data;
                for (let i in user.roles) {
                    s += user.roles[i].name.toString() + " ";
                }
                userInfo(data);
                $("#userMail").text(user.userName);
                $("#userRole").text(s);
                $('#userButton').click();
            }
        });
    });
    <!--данные о юзере-->
    function userInfo(data) {
        let roles = "";
        for (let i in data.roles) {
            roles += data.roles[i].name + " ";
        }
        $("#thisUser").append(
            "<tr>" +
            "<th scope='row'>" + data.id + "</th>" +
            "<td>" + data.firstName + "</td>" +
            "<td>" + data.lastName + "</td>" +
            "<td>" + data.age + "</td>" +
            "<td>" + data.userName + "</td>" +
            "<td style='text-transform: uppercase'>" + roles + "</td>" +
            "</tr>");
    }
</script>
</body>
</html>